@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}


h1, .heading-1 {
  font-weight: 800; 
}

h2, .heading-2 {
  font-weight: 700;
}

h3, .heading-3 {
  font-weight: 600; 
}

.subtitle, .highlight {
  font-weight: 500;
}

p, .body {
  font-weight: 400;
}

.light-text {
  font-weight: 300; 
}

.extra-light {
  font-weight: 200; 
}

.thinnest {
  font-weight: 100; 
}

